[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
geopandas = "*"
image = "*"
gdal = "3.9.2"
loguru = "*"
python-dotenv = "*"
folium = "*"
selenium = "*"
bs4 = "*"
rasterio = "*"
lxml = "*"
scikit-learn = "*"
tqdm = "*"
requests = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
types-requests = "*"
flake8 = "*"
autoflake = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
